.nav {
    .NavWrap {
        display: flex;
        justify-content: space-between;
        height: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 200px;
        margin-right: 200px;

        .logo {
            width: 139px;
            height: 48px;
        }
    
        .NavMenu1 {
            font-size: 1.5em;
            font-weight: 500;
    
            ul {
                display: flex;
                justify-content: space-around;
                li {
                    margin-left: 20px;
                }
                li:hover {
                    color: rgb(255, 204, 0);
                }
            }
        }
        .NavMenu2 {
            font-size: 1.5em;
            font-weight: 500;
    
            ul {
                display: flex;
                justify-content: space-around;
                li {
                    margin-left: 20px;
                }
                li:hover {
                    color: rgb(255, 204, 0);
                }
                li span {
                    border-radius: 50px 50px 50px 0;
                    background-color: rgb(255, 204, 0);
                    padding-left: 7px;
                    padding-top: 7px;
                    padding-right: 7px;
                    padding-bottom: 1px;
                    font-size: 0.5em;
                    margin-left: 5px;
                }
                .li span:hover {
                    background-color: black;
                    color: rgb(255, 204, 0);
                }
            }
        }
    }
    .NavLine {
        width: 96%;
        height: 0.5px;
        margin-left: 80px;
        margin-bottom: 100px;
        background-color: rgb(209, 209, 209);
    }
    


    

    
}